<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail of List</title>
</head>
<body>
    <main>
        <div> 
            <h1>{{ todo_listdetail }}</h1>
            <h2>Task</h2>
            <p><a href="{% url "todo_list_update" todo_listdetail.pk %}">Edit</a></p>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                    {% for detailed_list_item in todo_listdetail.items.all %}
                    <tr>
                        <td>{{ detailed_list_item.task }}</td>
                        <td>{{ detailed_list_item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    
</body>
</html>
