<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Todo List</title>
</head>
<body>
    <main>
        <div>
            <h1>My List</h1>
            <p><a href="{% url "todo_list_create" %}">Create a new list</a></p>
        </div>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of Items</th>
            </thead>
            <tbody>
                {% comment %} specifying name. pk shows the specific object by its primary key {% endcomment %}
                {% for name in todo_list_list %}
                <tr>
                    <td><a href="{% url "todo_list_detail" name.pk %}">{{ name }}</a></td>
                    <td>{{ name.items.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
